################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Backend.slnx/FileContentIndex/0bee74a2-8aea-49df-b311-2bf3b848b15e.vsidx
