################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Backend.slnx/FileContentIndex/0bee74a2-8aea-49df-b311-2bf3b848b15e.vsidx
/.vs/Backend.slnx/FileContentIndex/6e58ac6c-a968-49db-802c-f367650d1bfb.vsidx
